@media screen and (max-width: 600px) {
  .topnav a {
      float: none;
      width: 100%;
  }
  max-width: 100%;
}
body {
  background-image: url("images/blugalaxy.jpg");
  font-size: 25pt;
  font-family: 'Arvo', serif;
  text-align: center;
  
}

#main{
  display: block;
  background-color: rgb(125, 52, 221);
  opacity: .5;
  font-family: fantasy;
  font-size: 45pt;
  color: aliceblue;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}


#logo{
  font-family: 'Satisfy', cursive;
  font-size: 75pt;
  text-align: center;


}



/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(125, 52, 221);
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(228, 174, 226);
  color: white;
}

fieldset {
  width: 400px;
  padding: 30px;
  text-align: center;
  margin: auto;
}

#emailForm {
  color: #b9dae3;
  font-weight: 300;
}

#imgContainer {
  display: block;
  margin: auto;
}

#contact {
  color: aliceblue;
}

#link{
  color: aliceblue;
}
